

body{
    background-color: #FEFDF8;
}

h1, h2, h3{
    font-family: 'Playfair Display', serif, system-ui;
    color: #2C5530;
    margin-top: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

text{
    color:#333333;
}

th{
    border: 2px solid #8B4513;
}

td{
    color:#333333;
    text-align: center;
    border: 2px solid #8B4513;
}

#mainTableDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainTable{
    table-layout: fixed;
    border: 3px solid #8B4513;
    width: 1000px;
}

#buttonHolder{
    display: flex;
    justify-content: center;
    align-items: center;
}

#addBookButton{
    color: #8B4513;
    background-color: #D4AF37;
}

#addBookForm{
    display: grid;
    grid-template-columns: 50px 100px;
    grid-template-rows: auto;
    row-gap: 5px;
}

.readButton{
    text-align: center;
    margin: 0;
    border: 0;
    width: 200px;
    height: 30px;
    border: 2px solid #8B4513;
    border-radius: 5px;
}

.dialogButtonDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#modalCloseButton{
    background-color: maroon;
    color: whitesmoke;
}

#modalAddButton{
    color: #8B4513;
    background-color: #D4AF37;
}

#buttonHolder{
    margin-top: 20px;
}






